table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  height: 50px;
  vertical-align: bottom;
  border: 1px solid black;
  border-collapse: collapse;
}

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
}